body {
    background-image: url('back.jpg');
    background-size: cover;
    background-repeat: repeat;
    color: white;
    font-family: 'Poppins';
    text-align: center;
    padding: 20px;
}h1 {
     font-size: 50px;
     margin-top: 50px;
}
nav {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
}
.default-nav {
    --filter: blur(15px);
    -webkit-backdrop-filter: var(--filter);
    backdrop-filter: var(--filter);
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
}
ul {
    list-style-type: none ;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.hiddenDiv {
    display: none;
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
}
input{
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 15px;
    margin: 5px;
}
button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: black;
}
input[type=checkbox]{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid #ccc;
    margin: 0 2px;
    cursor: pointer;
}
.container {
    display: inline;
}

.car-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 12%;
    aspect-ratio: 1 / 1;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin: 35px 25px ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.item {
    width: 100%;
    height: 33%;
    object-fit: cover;
}

.reserve-button {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ddd;
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0;
    position: relative;
    /*bottom: -41%;*/
}

.reserve-button:hover {
    background-color: #0056b3;
}
.middle {
    margin:0;
    background-color: #13134d;
    height: 40%;
    position: relative;
    bottom: -7%;
    border: 1px solid #ddd;
}
.carp{
    margin-bottom: 5px;
    margin-top: 5px;
}
.carp2{
    font-style: italic;
    font-size: 90%;
    margin-bottom: 5px;
    margin-top: 5px;
}
img{
    position: relative;
    bottom: 100%;
}
table{
    margin-left: auto;
    margin-right: auto;
}


/*@media (max-width: 1200px) {*/
/*    .car-item {*/
/*        width: 23%;*/
/*    }*/
/*}*/

/*@media (max-width: 992px) {*/
/*    .car-item {*/
/*        width: 30%;*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .car-item {*/
/*        width: 45%;*/
/*    }*/
/*}*/

/*@media (max-width: 576px) {*/
/*    .car-item {*/
/*        width: 90%;*/
/*    }*/
/*}*/