<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
<nav class="default-nav">
    <ul>
        <li th:unless="${isAdmin}"><a href="/bookings">My Bookings</a></li>
        <li th:if="${isAdmin}"><a href="/bookings">Manage All Bookings</a></li>
        <li th:if="${isAdmin}"><a href="/cars">Manage All Cars</a></li>
        <li><span th:text="'Logged in id: '+${id}"></span></li>
    </ul>
</nav>
<a href="/main?show=true" th:unless="${show}">Show unavailable cars</a>
<a href="/main" th:if="${show}">Hide unavailable cars</a>
<br>
<div class="container" th:each="car : ${cars}">
    <div class="car-item">
        <div class="item" th:attr="data-keyword=${car.getModel()}"></div>
        <div class="middle">
            <p th:text="${car.getModel()}" class="carp"></p>
            <p th:if="${car.isAvailable()}" class="carp">Car Available</p>
            <p th:unless="${car.isAvailable()}" class="carp">Car Unavailable</p>
        </div>
        <a th:href="'main/'+${car.getCar_id()}" class="reserve-button">Reserve</a>
    </div>
</div>
<script>
    async function fetchImage(keyword) {
        const accessKey = 'Hk70wXkwyEfkSg8tN6p19wUr61cUbZeq1tLeopI8xAQ'; // Replace with your Unsplash Access Key
        const response = await fetch(`https://api.unsplash.com/photos/random?query=${keyword}&client_id=${accessKey}`);
        const data = await response.json();
        return data.urls.thumb; // or use data.urls.thumb for thumbnail size
    }

    async function loadImages() {
        const items = document.querySelectorAll('.item');
        items.forEach(async (item) => {
            const keyword = item.getAttribute('data-keyword');
            const imgUrl = await fetchImage(keyword);
            const img = document.createElement('img');
            img.src = imgUrl;
            item.appendChild(img);
        });
    }

    window.onload = loadImages;
</script>
</body>
</html>