<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Reserve</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
<nav class="default-nav">
    <ul>
        <li><a href="/main">Back</a></li>
        <li th:unless="${isAdmin}"><a href="/reservations">My Bookings</a></li>
        <li th:if="${isAdmin}"><a href="/bookings">Manage All Bookings</a></li>
        <li th:if="${isAdmin}"><a href="/cars">Manage All Cars</a></li>
        <li><span th:text="'Logged in id: '+${id}"></span></li>
    </ul>
</nav>
<h1 th:if="${bookings.isEmpty()}">No bookings yet</h1>
<span th:text="${error}"></span>
<h1 th:unless="${bookings.isEmpty()}">Your bookings:</h1>
<div th:each="booking : ${bookings}">
    <div class="booking-item">
        <p th:text="'Booked car: '+${css.getCar(booking.getCar_id()).getModel()}"></p>
        <p th:text="'From: '+${booking.from}"></p>
        <p th:text="'To: '+${booking.to}"></p>
        <form method="post" action="/cancel">
            <input type="hidden" name="booking_id" th:value="${booking.getBooking_id()}">
            <button type="submit">Cancel reservation</button>
        </form>
    </div>
</div>
</body>
</html>